[include]
  path = ~/.gitconfig-user

[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto

[pretty]
  classic = format:"%Cgreen[%<(20)%ci] %C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]"

[alias]
  amend = commit --amend
  ammend = amend
  br = branch
  ci = commit -v
  cl = clone
  cp = cherry-pick
  d = diff --diff-filter=ADM
  o = checkout
  nb = checkout -b
  prb = pull --rebase
  psh = push -u
  sq = merge --squash
  stat = status -s

  ls = log --pretty=classic --decorate
  tree = log --graph --oneline

  undo = reset --soft HEAD~1
  discard = checkout -- .

  current-branch = "!git rev-parse --abbrev-ref HEAD"
  find = "!f() { (git branch -a ; git ls-files) | grep $1; GIT_PAGER=cat git grep $1; }; f"
  rm-merged = "!git checkout master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  up  = "!f() { git pull --no-progress && git add -A && git commit -a -m \"$1\" && git push -u; }; f"

[pull]
  ff = only

[push]
  default = upstream

[branch]
  autosetupmerge = always
  autosetuprebase = always
