!! Default colors
#define black           #000000
#define maroon          #800000
#define green           #008000
#define olive           #808000
#define navy            #000080
#define purple          #800080
#define teal            #008080
#define silver          #c0c0c0
#define grey            #808080
#define red             #ff0000
#define lime            #00ff00
#define yellow          #ffff00
#define blue            #0000ff
#define magenta         #ff00ff
#define cyan            #00ffff
#define white           #ffffff
!! Solarized
!! custom
#define S_base04        #00171d
!! #define S_base00        #c1cacd
!! Solarized project
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

*background:            S_base04
*foreground:            S_base3
*cursorColor:           S_base3
*pointerColorBackground:S_base03
*pointerColorForeground:S_base3
!! black dark/light
*color0:                S_base02
*color8:                S_base03
!! red dark/light
*color1:                S_red
*color9:                S_orange
!! green dark/light
*color2:                S_green
*color10:               S_base01
!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00
!! blue dark/light
*color4:                S_blue
*color12:               S_base0
!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet
!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1
!! white dark/light
*color7:                S_base2
*color15:               S_base3


!-- Xft settings --!
Xft.rgba:       rgb
Xft.autohint:   0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting:    1
Xft.antialias:  1

!-- urxvt --!
!! URxvt*termName: rxvt-unicode-256color
URxvt*termName: xterm-256color
URxvt*geometry: 237x72
URxvt*loginShell: true
URxvt*background: [90]S_base04
URxvt*depth: 32
URxvt*fading: 40
URxvt*fadeColor: S_base03
URxvt*font: xft:Terminess Powerline:size=10:antialias=true
URxvt*boldFont: xft:Terminess Powerline:bold:size=10:antialias=true
URxvt*scrollBar: false
URxvt*mouseWheelScrollPage: false
URxvt*cursorBlink: true
URxvt*letterSpace: 0
URxvt.keysym.Home:          \033[1~
URxvt.keysym.End:           \033[4~
URxvt.keysym.KP_Home:       \033[1~
URxvt.keysym.KP_End:        \033[4~
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
URxvt.perl-ext-common: 'default, -searchable-scrollback'

!-- xcalc --!
xcalc*background:           S_base04
xcalc*screen*.background:   gray95
xcalc*screen*.foreground:   S_base02
xcalc*button4.background:   S_red
xcalc*button4.foreground:   S_base3
xcalc*button5.background:   S_red
xcalc*button5.foreground:   S_base3
xcalc*button22.background:  S_base3
xcalc*button22.foreground:  S_base02
xcalc*button23.background:  S_base3
xcalc*button23.foreground:  S_base02
xcalc*button24.background:  S_base3
xcalc*button24.foreground:  S_base02
xcalc*button27.background:  S_base3
xcalc*button27.foreground:  S_base02
xcalc*button28.background:  S_base3
xcalc*button28.foreground:  S_base02
xcalc*button29.background:  S_base3
xcalc*button29.foreground:  S_base02
xcalc*button32.background:  S_base3
xcalc*button32.foreground:  S_base02
xcalc*button33.background:  S_base3
xcalc*button33.foreground:  S_base02
xcalc*button34.background:  S_base3
xcalc*button34.foreground:  S_base02
xcalc*button37.background:  S_base3
xcalc*button37.foreground:  S_base02
xcalc*button20.background:  gray95
xcalc*button20.foreground:  S_base02
xcalc*button25.background:  gray95
xcalc*button25.foreground:  S_base02
xcalc*button30.background:  gray95
xcalc*button30.foreground:  S_base02
xcalc*button35.background:  gray95
xcalc*button35.foreground:  S_base02
xcalc*button38.background:  gray95
xcalc*button38.foreground:  S_base02
xcalc*button39.background:  gray95
xcalc*button39.foreground:  S_base02
xcalc*button40.background:  S_base0
