[Desktop Entry]
Version=1.0
Type=Application
Name=Telegram
Comment=
Exec=/opt/Telegram/Telegram
Icon=/opt/Telegram/Telegram_logo.svg
Path=
Terminal=false
StartupNotify=false
