[Desktop Entry]
Version=1.0
Name=Claws Mail
GenericName=E-mail client
GenericName[es]=Cliente de correo electrónico
Exec=claws-mail %u
Icon=claws-mail
Categories=Network;Email;
Keywords=lightweight fast x-window extensible plugin pop3 imap nntp
Comment=Lightweight and Fast GTK+ based Mail Client
Comment[es]=Cliente de correo rápido y ligero basado en GTK+
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-scheme-handler/mailto;
X-Info=Claws Mail
X-XFCE-Source=file:///usr/share/applications/claws-mail.desktop
